<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.egate.solutions.ipReader"
    version="0.0.1-dev">
    <name>ipReader</name>
    <description>IP (Infinite Peripheral) iOS plugin for PhoneGap</description>
    <license>Apache 2.0</license>
    <keywords>cordova,IP, Infinite Peripheral,iOS plugin, PhoneGap</keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/ipReader.js" name="ipReader">
        <clobbers target="ipReader" />
    </js-module>

        <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ipReader">
                <param name="ios-package" value="CDVipReader"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
            <array>
                <string>com.datecs.pinpad</string>
                <string>com.datecs.iserial.communication</string>
                <string>com.datecs.linea.pro.msr</string>
                <string>com.datecs.linea.pro.bar</string>
            </array>
        </config-file>

        <framework src="ExternalAccessory.framework" />
        <framework src="MediaPlayer.framework" />
        <framework src="AudioToolbox.framework" />

        <source-file src="src/ios/libdtdev.a" framework="true" />
        <header-file src="src/ios/DTDevices.h" />

        <header-file src="src/ios/CDVipReader.h" />
        <source-file src="src/ios/CDVipReader.m" />
    </platform>

</plugin>
